piece_*
target
.idea
*.log*
*.class*
Common.cfg
PeerInfo.cfg
src/main/java/uf/cs/cn/Main.class
src/main/java/uf/cs/cn/exceptions/InvalidMessageLengthException.class
src/main/java/uf/cs/cn/message/ActualMessage.class
src/main/java/uf/cs/cn/message/BitfieldMessage.class
src/main/java/uf/cs/cn/message/MessageType.class
src/main/java/uf/cs/cn/peer/IncomingConnectionHandler.class
src/main/java/uf/cs/cn/peer/OutgoingConnection.class
src/main/java/uf/cs/cn/peer/Peer.class
src/main/java/uf/cs/cn/peer/PeerServer.class
src/main/java/uf/cs/cn/utils/BitFieldUtils.class
src/main/java/uf/cs/cn/utils/CommonConfigFileReader.class
src/main/java/uf/cs/cn/utils/HandShakeMessageUtils.class
src/main/java/uf/cs/cn/utils/PeerInfoConfigFileReader$PeerInfo.class
src/main/java/uf/cs/cn/utils/PeerInfoConfigFileReader.class
src/main/java/uf/cs/cn/utils/PeerLogging.class
Common.cfg
PeerInfo.cfg